body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.main {
    flex: 1;
    margin: 2vw;
}

.carrito-container {
    width: 100%;
}

.carrito-item, #form-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2vw;
    box-shadow: 0vw 0vw 0.8vw #505050;
    border-radius: 1vw;
}

.item-title {
    font-size: 1.5vw;
    width: 20vw;
}

.cantidad, .precio {
    font-size: 1.5vw;
}

.img-div {
    width: 12vw;
    height: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img {
    width: 60%;
    max-height: 80%;
}

.btn-delete, .comprar-btn, .enviar-btn {
    font-size: 1vw;
    padding: 1vw;
    color: #ffffff;
    background-color: #1d1d1d;
    border: none;
    border-radius: 0.8vw;
    cursor: pointer;
}

.btn-delete:hover, .comprar-btn:hover {
    transform: scale(1.1);
    background-color: #2c2c2c;
}

.container-compra {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.precio-total, .comprar-btn {
    font-size: 1.8vw;
}

.comprar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}

.bi-arrow-repeat {
    font-size: 3vw;
    color:#D80B1A;
}

.mensaje-compra {
    font-size: 1.8vw;
    color: #D80B1A;
}

#form-container {
    padding: 1vw;
}

#purchase-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

label, .enviar-btn {
    font-size: 1.8vw;
}

#nombre, #apellido, #email {
    border-radius: 0.4vw;
    border: 1px solid #000000;
    height: 2.4vw;
}

@media  screen and (max-width: 1080px) {
    .carrito-item {
        gap: 2vw;
    }

    .item-title {
        font-size: 2.2vw;
        text-align: center;
        width: 90%;
    }

    .cantidad, .precio {
        font-size: 2vw;
    }

    .img-div {
        width: 30vw;
        height: 30vw;
    }

    .btn-delete {
        font-size: 1.4vw;
        padding: 1.4vw;
    }

    .precio-total, .comprar-btn {
        font-size: 2vw;
    }

    .comprar-btn {
        padding: 1.4vw;
    }

    #form-container {
        padding: 1.4vw;
    }
    
    label, .enviar-btn {
        font-size: 2.2vw;
    }
    
    #nombre, #apellido, #email {
        height: 2.8vw;
    }
}

@media  screen and (max-width: 768px) {
    .carrito-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .carrito-item {
        flex-direction: column;
        padding-bottom: 1vw;
        width: 80%;
    }

    .item-title {
        font-size: 3vw;
        text-align: center;
        width: 90%;
    }

    .cantidad, .precio {
        font-size: 2.5vw;
    }

    .img-div {
        width: 35vw;
        height: 35vw;
    }

    .btn-delete {
        padding: 2vw;
        font-size: 2.8vw;
    }

    .precio-total, .comprar-btn {
        font-size: 2.8vw;
    }

    .bi-arrow-repeat {
        font-size: 4vw;
    }

    .mensaje-compra {
        font-size: 3vw;
    }

    .comprar-btn {
        padding: 2vw;
    }

    #form-container {
        padding: 2vw;
        width: 80%;
    }
    
    label, .enviar-btn {
        font-size: 2.8vw;
    }
    
    #nombre, #apellido, #email {
        height: 3.4vw;
    }
}

@media  screen and (max-width: 600px) {
    .item-title {
        font-size: 4vw;
    }

    .cantidad, .precio {
        font-size: 3.2vw;
    }

    .img-div {
        width: 45vw;
        height: 45vw;
    }

    .btn-delete {
        font-size: 3vw;
    }

    .precio-total, .comprar-btn {
        font-size: 3.2vw;
    }

    .bi-arrow-repeat {
        font-size: 4vw;
    }

    .mensaje-compra {
        font-size: 3.5vw;
    }

    #form-container {
        padding: 2.5vw;
    }
    
    label, .enviar-btn {
        font-size: 3.2vw;
    }
    
    #nombre, #apellido, #email {
        height: 4vw;
    }
}

@media  screen and (max-width: 480px) {
    .item-title {
        font-size: 4.2vw;
    }

    .cantidad, .precio {
        font-size: 3.4vw;
    }

    .img-div {
        width: 48vw;
        height: 48vw;
    }

    .btn-delete {
        font-size: 3.2vw;
    }

    .precio-total, .comprar-btn {
        font-size: 3.8vw;
    }

    .bi-arrow-repeat {
        font-size: 5vw;
    }

    .mensaje-compra {
        font-size: 4.5vw;
    }

    #form-container {
        padding: 3vw;
    }
    
    label, .enviar-btn {
        font-size: 4.5vw;
    }
    
    #nombre, #apellido, #email {
        height: 5vw;
    }
}

@media  screen and (max-width: 280px) {
    .item-title {
        font-size: 4.5vw;
    }

    .cantidad, .precio {
        font-size: 3.8vw;
    }

    .img-div {
        width: 49vw;
        height: 52vw;
    }

    .btn-delete {
        font-size: 3.5vw;
    }

    .precio-total, .comprar-btn {
        font-size: 5vw;
    }

    .bi-arrow-repeat {
        font-size: 5vw;
    }

    .mensaje-compra {
        font-size: 4.5vw;
    }
    
    label, .enviar-btn {
        font-size: 5vw;
    }
    
    #nombre, #apellido, #email {
        height: 5vw;
    }
}